/* ====== 左右灯笼容器 ====== */
.deng-container {
    position: fixed;
    top: 40px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    gap: 80px;        /* 上下间距 */
    pointer-events: none;
}

.deng-container.left {
    left: 40px;
}

.deng-container.right {
    right: 40px;
}

.deng-box {
    position: relative;
}